bottle==0.12.13
certifi==2018.4.16
chardet==3.0.4
Django==2.1.4
django-ckeditor==5.6.1
django-js-asset==1.2.2
django-tinymce==2.7.0
idna==2.6
Pillow==9.0.1
pymongo==3.7.0
PyMySQL==0.8.1
pypiwin32==223
pytz==2018.7
pywin32==223
reportlab==3.5.12
requests==2.18.4
selenium==3.14.1
urllib3==1.22
